<div class="infos">
  <div class="writing-section">
    <h2 :class="typingAnimation line">Equipe:</h2>
    <h3 :class="typingAnimationTwo line mgTop25">Edson Flausino Dias Junior</h3>
    <h3 :class="typingAnimationThree line mgTop15">Fábio Sanchez Marcato</h3>
    <h3 :class="typingAnimationFour line mgTop15">Jorge Miguel Carvalho Hernandes</h3>
    <h3 :class="typingAnimationFive line mgTop15">Marcello Santos Leite Ribeiro</h3>
    <h3 :class="typingAnimationSix line mgTop15">Valdir Pedroso</h3>
  </div>
  <div class="writing-section">
    <h2 :class="typingAnimationSeven line">Links Projeto:</h2>
    <h3 :class="typingAnimationEight line mgTop25"><a href="https://github.com/edson-dias/front-projetoDas"><i class="fab fa-github-square"></i> - Frontend</a></h3>
    <h3 :class="typingAnimationNine line mgTop15"><a href="https://github.com/Jorgehernandes88/ApiUfpr/tree/main/apiUfpr"><i class="fab fa-github-square"></i> - Backend</a></h3>
    <h3 :class="typingAnimationTen line mgTop15"><a href="https://apiufpr2021.herokuapp.com/swagger-ui.html#/"><i class="fab fa-internet-explorer"></i> - Backend Swagger</a></h3>
  </div>
</div>


