.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  letter-spacing: -1px;
}
.timer span {
  font-size: 2em;
  margin: 0 3px 0 15px;
}

.writing-section{
    display: flex;
    flex-direction: column;
}
h2{
  font-family: 'Roboto';
  font-size: 1.3rem;
  font-weight: 400;
}
h3, a{
  font-family: 'Roboto Mono';
  font-size: 1.1rem;
  font-weight: 300;
}
a{
  text-decoration: none;
  color: black;
}
i{
  color: black;
  font-size: 1.3rem;
}
.line {
  color: black;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}
.mgTop5{
  margin-top: 5px;
  }
.mgTop25{
  margin-top: 25px;
}
.mgTop30{
  margin-top: 30px;
}
.typingAnimation {
  animation: blinkCursor 500ms steps(40) 6 normal,
    typing 2s steps(30) 1s normal both;
  animation-delay: 1s;
}
.typingAnimationTwo {
  animation: blinkCursor 500ms steps(40) 6 normal,
    typing-two 2s steps(30) 1s normal both;
  animation-delay: 4.5s;
}
.typingAnimationThree {
  animation: blinkCursor 500ms steps(40) 6 normal,
    typing-three 2s steps(30) 1s normal both;
  animation-delay: 8s;
}
.typingAnimationFour {
  animation: blinkCursor 500ms steps(40) 4 normal,
    typing-four 0.6s steps(30) 1s normal both;
  animation-delay: 11.5s;
}
.typingAnimationFive {
  animation: blinkCursor 500ms steps(40) 5 normal,
    typing-five 0.7s steps(30) 1s normal both;
  animation-delay: 13.5s;
}
.typingAnimationSix {
  animation: blinkCursor 500ms steps(40) 5 normal,
    typing-six 0.6s steps(30) 1s normal both;
  animation-delay: 16s;
}
.typingAnimationSeven {
  animation: blinkCursor 500ms steps(40) 8 normal,
    typing-seven 0.6s steps(30) 1s normal both;
  animation-delay: 18.5s;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 13em;
  }
}
@keyframes typing-two {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}
@keyframes typing-three {
  from {
    width: 0;
  }
  to {
    width: 17em;
  }
}
@keyframes typing-four {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}
@keyframes typing-five {
  from {
    width: 0;
  }
  to {
    width: 7.8em;
  }
}
@keyframes typing-six {
  from {
    width: 0;
  }
  to {
    width: 7em;
  }
}
@keyframes typing-seven {
  from {
    width: 0;
  }
  to {
    width: 7em;
  }
}
@keyframes blinkCursor {
  from {
    border-right: none;
  }
  to {
    border-right: 2px solid rgba(128, 39, 39, 0.75);
  }
}
