.writing-section{
    display: flex;
    flex-direction: column;
}
h2{
  font-family: 'Roboto';
  font-size: 1.3rem;
  font-weight: 400;
}
h3, a{
  font-family: 'Roboto Mono';
  font-size: 1.1rem;
  font-weight: 300;
}
a{
  text-decoration: none;
  color: black;
}
i{
  color: black;
  font-size: 1.3rem;
}
.line {
  color: black;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}
.mgTop15{
  margin-top: 15px;
  }
.mgTop25{
  margin-top: 25px;
}
.mgTop30{
  margin-top: 30px;
}
.typingAnimation {
  animation: blinkCursor 500ms steps(40) 6 normal,
    typing 0.5s steps(30) 1s normal both;
  animation-delay: 1s;
}
.typingAnimationTwo {
  animation: blinkCursor 500ms steps(40) 6 normal,
    typing-two 1s steps(30) 1s normal both;
  animation-delay: 4.5s;
}
.typingAnimationThree {
  animation: blinkCursor 500ms steps(40) 6 normal,
    typing-three 1s steps(30) 1s normal both;
  animation-delay: 8s;
}
.typingAnimationFour {
  animation: blinkCursor 500ms steps(40) 4 normal,
    typing-four 1s steps(30) 1s normal both;
  animation-delay: 11.5s;
}
.typingAnimationFive {
  animation: blinkCursor 500ms steps(40) 5 normal,
    typing-five 1s steps(30) 1s normal both;
  animation-delay: 13.5s;
}
.typingAnimationSix {
  animation: blinkCursor 500ms steps(40) 5 normal,
    typing-six 0.6s steps(30) 1s normal both;
  animation-delay: 16s;
}
.typingAnimationSeven {
  animation: blinkCursor 500ms steps(40) 4 normal,
    typing-seven 0.6s steps(30) 1s normal both;
  animation-delay: 18.5s;
}
.typingAnimationEight {
  animation: blinkCursor 500ms steps(40) 5 normal,
    typing-eight 0.6s steps(30) 1s normal both;
  animation-delay: 20.5s;
}
.typingAnimationNine {
  animation: blinkCursor 500ms steps(40) 4 normal,
    typing-nine 0.6s steps(30) 1s normal both;
  animation-delay: 22.5s;
}
.typingAnimationTen {
  animation: blinkCursor 500ms steps(40) 5 normal,
    typing-ten 0.6s steps(30) 1s normal both;
  animation-delay: 24.5s;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 4em;
  }
}
@keyframes typing-two {
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}
@keyframes typing-three {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}
@keyframes typing-four {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}
@keyframes typing-five {
  from {
    width: 0;
  }
  to {
    width: 13em;
  }
}
@keyframes typing-six {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}
@keyframes typing-seven {
  from {
    width: 0;
  }
  to {
    width: 7em;
  }
}
@keyframes typing-eight {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}
@keyframes typing-nine {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}
@keyframes typing-ten {
  from {
    width: 0;
  }
  to {
    width: 10em;
  }
}
@keyframes blinkCursor {
  from {
    border-right: none;
  }
  to {
    border-right: 2px solid rgba(128, 39, 39, 0.75);
  }
}
