<div class="timer">
  <h3>Entrega do Trabalho: Até 27/11/2021 23:30 </h3><br>
  <span id="days"> {{daysToDday}} </span>Day(s)
  <span id="hours"> {{hoursToDday}} </span>Hrs
  <span id="minutes"> {{minutesToDday}} </span>Min
  <span id="seconds"> {{secondsToDday}} </span>S
</div>


  <div class="writing-section">
        <h2 :class="typingAnimation line">Equipe:</h2>
        <h3 :class="typingAnimationTwo line mgTop25">Edson Flausino Dias Junior</h3>
        <h3 :class="typingAnimationThree line">Fábio Sanchez Marcato</h3>
        <h3 :class="typingAnimationFour line"><a href="https://github.com/edson-dias">Jorge Miguel Carvalho Hernandes</a></h3>
        <h3 :class="typingAnimationFive line"><a href="https://linkedin.com/in/edson-flausino-dias-junior">Marcello Santos Leite Ribeiro</a></h3>
        <h3 :class="typingAnimationSix line"><a href="https://twitter.com/edson_fdias">Valdir Pedroso</a></h3>
  </div>



